.navbar-start {
  color: #666;
  display: inline-block;
    padding-top: 15px;
}
.navbar-end {
  display: flex;
  justify-content: flex-end;
}
.navbar-link {
  display: inline-block;
}
.navbar-header {
  border-top: solid 3px #00ccd2;
  display: flex;
  justify-content: space-between;

}
.navbar-header a {
  text-decoration: none;
  color: #666;
  border-radius: 25px;
  padding: 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.navbar-header a:hover {
  color: #000;
  background-color: #eee;
}
.logo-border {
  background-image: url(https://dmcg351jwkq99.cloudfront.net/assets/logo-2bc4292f9a200c70ed13d454b2ef199d.svg);
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
  border: solid 0.5px #eee;
  margin: 0;
  margin-top: 15px;
  padding-left: 0;
}
.form-buttons {
  border: solid 1px #00ccd2;
  padding: 1em;
  border-radius: 25px;
  font-size: 12px;
}
.form-buttons a:hover {
  background-color: #00ccd2;
  color: #fff;
}
.title-headings {
  text-align: center;
}
.second-heading {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  width: 60%;
  font-weight: 400;
  font-size: 22px;
  display: block;
  line-height: 1.4;
  margin: 0 auto;
}
.advertisement {
  background-color: #000;
  width: 92.5%;
  margin: 0 auto;
  margin-left: 8.5%;
  height: 7em;
  margin-bottom: 5%;
}
.week {
  color: #777777;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 8.5%;
}

div > a > img {
  height: 100%;
  width: 100%;
}
.large-container {
  width: 90%;
}
.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.box {
  width: 18%;
  display: inline-block;
}
.box a {
  text-decoration: none;
}
.subtitle {
  color: #777777;
  text-decoration: none;
  line-height: 1.4;
}
.title {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}
.advertise {
  color: #fff;
  line-height: 1.1;
  font-size: 16px;
}
.btn {
background-color: #00ccd2;
color: #fff;
border-style: none;
border-radius: 3px;
padding: 8px;
width: 50%;
margin-left: 10px;
}
.input {
  background-color: #ebfeff;
  color: #009a9f;
  padding: 8px;
  border-radius: 3px;
  width: 100%;
}
.subscribe {
  display: flex;
  height: 45%;
  text-align: center;
  margin-right: 7%;
}
.advertisement .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}
/*
.box {
  height: 150px;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin: 20px;
}
.boxes {
  display: flex;
  flex-flow: row wrap;
}
